<div id="main">
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

        <div class="row" style="margin-top: 15px" >
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Búsquedas</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-group" id="buscarForm" name="buscarForm" method="post"
                              data-ng-submit="buscarPost()"
                        >

                            <div class="form-group">
                                {{ form.dato }}
                            </div>
                            <div class="form-group">
                                {{ form.criterio }}
                            </div>
                            <div class="form-group">
                                <button
                                        type="submit"
                                        class="btn btn-primary btn-lg btn-block raised round"
                                        >
                                     <span class="glyphicon glyphicon-search"></span> Buscar
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

            <div data-ng-show="buscando" class="col-md-8 animate-show">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Buscando...
                    </div>
                    <div class="panel-body">
                        <div style="width: 68px; height: 68px; margin-bottom: 0;"
                             class="alert alert-info center-block animate-show">
                            <div class="loader-inner ball-clip-rotate-multiple center-block">
                                <div></div><div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 animate-show"
                 data-ng-show="valores.coincidencias.contenido.length>0">

                <div class="panel panel-info">
                    <div class="panel-heading mano"
                         data-ng-click="valores['coincidencias']['show']=!valores['coincidencias']['show'];">
                        {{ angOpen }} valores.coincidencias.titulo {{ angClose }}
                        <span data-ng-class="{
                        'navbar-right glyphicon glyphicon-minus icon-white': valores.coincidencias.show,
                        'navbar-right glyphicon glyphicon-plus icon-white': !valores.coincidencias.show
                        }"></span>
                    </div>
                    <div class="panel-body animate-show" data-ng-show="valores.coincidencias.show">

                        <div class="table-responsive">
                            <table class="table table-striped table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <td data-ng-repeat="(key, value) in valores.coincidencias.contenido[1]" >
                                            <b>{{ angOpen }} getAttributeByIndex(value, 0).key {{ angClose }}</b>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr data-ng-repeat="(key, value) in valores.coincidencias.contenido">
                                        <td data-ng-repeat="(key, value) in value" >
                                            <span>{{ angOpen }} getAttributeByIndex(value, 0).value {{ angClose }}</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-info" data-ng-show="valores.cliente.contenido">
                    <div class="panel-heading mano"
                         data-ng-click="valores['cliente']['show']=!valores['cliente']['show']">
                        {{ angOpen }} valores.cliente.titulo {{ angClose }}
                        <span data-ng-class="{
                        'navbar-right glyphicon glyphicon-minus icon-white': valores.cliente.show,
                        'navbar-right glyphicon glyphicon-plus icon-white': !valores.cliente.show
                        }"></span>
                    </div>
                    <div class="panel-body animate-show" data-ng-show="valores.cliente.show">
                        <div class="panel panel-info animate-show" data-ng-show="valores.medidores.contenido.length>0">
                            <div class="panel-heading">
                                {{ angOpen }} valores.medidores.titulo {{ angClose }}
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <b>Medidor</b>
                                                </td>
                                                <td>
                                                    <b>Serie</b>
                                                </td>
                                                <td>
                                                    <b>Fecha Inst.</b>
                                                </td>
                                                <td>
                                                    <b>Fecha Des.</b>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr data-ng-repeat="(key, value) in valores.medidores.contenido"
                                                style="cursor: pointer;"
                                                data-ng-click="seleccionDeMedidor($index)">
                                                <td>
                                                    <span>{{ angOpen }} getAttributeByIndex(value['0'], 0).value {{ angClose }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ angOpen }} getAttributeByIndex(value['1'], 0).value {{ angClose }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ angOpen }} getAttributeByIndex(value['8'], 0).value {{ angClose }}</span>
                                                </td>
                                                <td>
                                                    <span>{{ angOpen }} getAttributeByIndex(value['9'], 0).value {{ angClose }}</span>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <form class="form-horizontal">
                            <div data-ng-repeat="(key, value) in valores.cliente.contenido" class=" form-group">
                                <label class="col-md-2 control-label">
                                    {{ angOpen }} getAttributeByIndex(value, 0).key {{ angClose }}
                                </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control"
                                         readonly="true" data-ng-model="getAttributeByIndex(value, 0).value">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="panel panel-info animate-show"
                     data-ng-repeat="medidor in valores.medidores.contenido"
                     data-ng-show="(medidor['9']['Fecha Des.'] == ' 0/00/0000' && medidorSeleccionado==-1) || medidorSeleccionado==$index"
                     >
                    <div class="panel-heading mano"
                         data-ng-click="valores['medidores']['show']=!valores['medidores']['show']">
                        <b>Medidor: {{ angOpen }} medidor['0'].Fabrica {{ angClose }}</b>
                        <span data-ng-class="{
                        'navbar-right glyphicon glyphicon-minus icon-white': valores.medidores.show,
                        'navbar-right glyphicon glyphicon-plus icon-white': !valores.medidores.show
                        }"></span>
                    </div>
                    <div class="panel-body animate-show" data-ng-show="valores.medidores.show">

                        <form class="form-horizontal">
                            <div data-ng-repeat="(key, value) in medidor" class="form-group">
                                <label class="col-md-2 control-label">
                                    {{ angOpen }} getAttributeByIndex(value, 0).key {{ angClose }}
                                </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control"
                                         readonly="true" data-ng-model="getAttributeByIndex(value, 0).value">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>


</div>