<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-header">
            <h1 class="text-center">Error</h1>
        </div>
        <div class="modal-body alert alert-danger text-center">
            <p>
                <span>
                    {{ msjError }}
                </span>
                <span id="restante" class="badge">{{ tiempo }}</span>
            </p>
            <input id="uri" type="hidden" value="{{ code }}">
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
            </div>
        </div>

        <script>
            $(document).ready(function(){
                window.setTimeout("redirect()",1000);
            }
            );
            function redirect(){
                var uri = $("#uri").val();
                var restante = $("#restante");
                restante.html(restante.html() - 1);
                if (restante.html() == 0){
                    window.location.assign(uri);
                }
                window.setTimeout("redirect()",1000);
            }


        </script>

    </div>
</div>