{% extends 'base.html' %}

    {% block title %}
		Sico I.A. - {{ user }}
    {% endblock %}


    {% block body %}
        <div id="header" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="icon-reorder"></i>
                </button>
                <a class="navbar-brand ng-scope" data-ng-href="#/">
                    Sico - I.A.
                </a>
            </div>
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li data-ng-repeat="m in modulos">
                      <a
                         data-ng-if="m.submodulos.length<1"
                         data-ng-click="sidebar(m.submodulos)"
                         data-ng-href="#/{{ angOpen }} m.link | lowercase {{ angClose }}"
                      >
                          {{ angOpen }} m.nombre {{ angClose }}
                      </a>
                      <a href
                         data-ng-if="m.submodulos.length>0"
                         class="dropdown-toggle"
                         data-toggle="dropdown">
                          {{ angOpen }} m.nombre {{ angClose }}
                          <b class="caret"></b>
                      </a>
                        <ul data-ng-if="m.submodulos.length>0" class="dropdown-menu">
                            <li data-ng-repeat="sm in m.submodulos">
                                <a data-ng-click="sidebar(m.submodulos)"
                                data-ng-href="#/{{ angOpen }} sm.link | lowercase {{ angClose }}"
                                >
                                    {{ angOpen }} sm.nombre {{ angClose }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown mano">
                        <a id="nbAcctDD" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"><span class="glyphicon glyphicon-user"></span></i>
                            {{ user }}
                            <i class="icon-sort-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li class="text-center"> Session {{ sesion }} </li>
                            <li class="text-center">
                                <button class="btn btn-primary text-center"
                                        data-ng-click="logout()"
                                        onclick="return false;">
                                    <span>Salir</span>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="wrapper">
            <div id="sidebar-wrapper" class="col-md-1">
                <div id="sidebar">
                    <ul data-ng-show="menuLateral.length>0" class="nav list-group">
                        <li
                            data-ng-repeat="m in menuLateral">
                            <a class="list-group-item"
                               data-ng-href="#/{{ angOpen }} m.link | lowercase {{ angClose }}">
                                <i class="icon-home icon-1x"></i>
                                {{ angOpen }} m.nombre {{ angClose }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main-wrapper" class="col-md-11 pull-right">

                <div
                data-ng-view id="ng-view" class="view"
                        >
                </div>

            </div>
        </div>


    {% endblock %}

    {% block jqueryAngular %}
        <script>
            angular.module("sico_ia", ['ngRoute', 'ngAnimate'])
                    //http://www.aprendiendoando.com/angularjs-clase-13-crear-animaciones

            .controller('AppCtrl', ['$scope', function($scope) {
                $scope.topScope = $scope;
                $scope.logout=function(){
                    window.location.assign('/salir');
                };
                $scope.menuLateral=[];
                $scope.sidebar=function(opciones){
                    console.log(opciones);
                    $scope.menuLateral=opciones;
                };

                $scope.modulos={{ modulos|safe}};



            }])

            .controller('error', ['$scope', function($scope){
            }])

            .controller('home', ['$scope', function($scope){
            }])

            .controller('busquedas', ['$scope', function($scope){



            }])

            .config( ['$routeProvider',
                function($routeProvider) {
                    $routeProvider.when('/', {
                        controller: 'home',
                        templateUrl: '{% url 'principal' %}'
                    }).
                    when('/espera', {
                        templateUrl: '{% url 'espera' %}'
                    }).
                    when('/error', {
                        controller: 'error',
                        templateUrl: '{% url 'error' %}'
                    }).
                    when('/home', {
                        controller: 'home',
                        templateUrl: '{% url 'principal' %}'
                    }).
                    when('/porcuenta', {
                        controller: 'busquedas',
                        templateUrl: '{% url 'busquedas' %}'
                    }).
                    when('/pormedidor', {
                        controller: 'busquedas',
                        templateUrl: '{% url 'busquedas' %}'
                    }).
                    when('/pornombre', {
                        controller: 'busquedas',
                        templateUrl: '{% url 'busquedas' %}'
                    }).
                    when('/porgeocodigo', {
                        controller: 'busquedas',
                        templateUrl: '{% url 'busquedas' %}'
                    }).
                    when('/salir', {
                        templateUrl: '{% url 'salir' %}'
                    }).
                    when('/enconstruccion', {
                        templateUrl: '{% url 'enconstruccion' %}'
                    }).
                    otherwise({
                      redirectTo: '/enconstruccion'
                    })
                    ;
              }]);
        </script>
    {% endblock %}