{% extends 'base.html' %}

    {% block title %}
		Ingreso a Sico Cnel
    {% endblock %}


    {% block body %}

        <div
                data-ng-view class="view"
        >

        </div>

    {% endblock %}

    {% block jqueryAngular %}
        <script>
            angular.module("sico_ia", ['ngRoute', 'ngAnimate'])
                    //http://www.aprendiendoando.com/angularjs-clase-13-crear-animaciones

            .controller('AppCtrl', ['$scope', function($scope) {
                $scope.topScope = $scope;

            }])

            .controller('login', ['$scope', function($scope){

                $scope.login=function(){
                    if($scope.usuario  && $scope.clave){

                        var parametros = {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            "usuario" : $scope.usuario,
                            "clave" : $scope.clave
                        };
                        $.ajax({
                            data:  parametros,
                            url:   '{% url 'acceso' %}',
                            type:  'POST',
                            datatype: 'json',
                            async: true,
                            beforeSend: function () {
                                window.location.assign('#/espera');
                            },
                            success:  function (response) {
                                //alert(response);
                                window.location.assign(response.resultado);
                            },
                            error: function(){

                            }

                        });

                    }
                    else{

                    }


                }
            }])

            .config( ['$routeProvider',
                function($routeProvider) {
                    $routeProvider.when('/', {
                        controller: 'login',
                        templateUrl: '{% url 'login' %}'
                    }).
                    when('/espera', {
                        templateUrl: '{% url 'espera' %}'
                    }).
                    when('/error', {
                        controller: 'error',
                        templateUrl: '{% url 'error' %}'
                    }).
                    when('/home', {
                        controller: 'home',
                        templateUrl: '{% url 'home' %}'
                    }).
                    otherwise({
                        redirectTo: '/home',
                        controller: 'home',
                        templateUrl: '{% url 'home' %}'
                    });
              }])
        </script>
    {% endblock %}


