{% extends 'base.html' %}

    {% block title %}
		Ingreso a Sico Cnel
    {% endblock %}


    {% block body %}

        <div
                data-ng-view class="view"
        >

        </div>

    {% endblock %}

    {% block jqueryAngular %}
        <script>
            angular.module("sico_ia", ['ngRoute', 'ngAnimate'])
                    //http://www.aprendiendoando.com/angularjs-clase-13-crear-animaciones

            .controller('AppCtrl', ['$scope', function($scope) {
                $scope.topScope = $scope;

            }])

            .controller('acceso', ['$scope', function($scope){


                $scope.login=function(){
                    if($scope.usuario  && $scope.clave){
                        window.location.assign('#/acceso');
                    }
                    else{

                    }


                }
            }])

            .config( ['$routeProvider',
                function($routeProvider) {
                    $routeProvider.when('/', {
                        controller: 'acceso',
                        templateUrl: '{% url 'login' %}'
                    }).
                    when('/acceso', {
                        templateUrl: '{% url 'acceso' %}'
                    }).
                    when('/animales/ave3', {
                        templateUrl: 'plantillas/ave3.html'
                    }).
                    otherwise({
                        redirectTo: '/home',
                        templateUrl: 'plantillas/inicio.html'
                    });
              }])
        </script>
    {% endblock %}


