<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Sico - I.A.</h1>
        </div>
        <div class="modal-body">
            <form class="form col-md-12 center-block" name="forma">
                {% csrf_token %}
                <div class="form-group" data-ng-class="{'has-error' : forma.usuario.$dirty && forma.usuario.$invalid && forma.usuario.$error.required,
                                                        'has-success' : forma.usuario.$valid}">
                    <input
                            type="text"
                            class="form-control input-lg may"
                            placeholder="Usuario"
                            name="usuario"
                            data-ng-model="usuario"
                            required
                            autofocus
                            >
                </div>
                <div class="form-group" data-ng-class="{'has-error' : forma.clave.$dirty && forma.clave.$invalid && forma.clave.$error.required,
                                                       'has-success' : forma.clave.$valid}">
                    <input
                            type="password"
                            class="form-control input-lg may"
                            placeholder="Contraseña"
                            name="clave"
                            data-ng-model="clave"
                            required
                            >
                </div>
                <div class="form-group" >
                    <button class="btn btn-primary btn-lg btn-block" data-ng-click="login()" onclick="return false;">Acceso</button>
                </div>

                <div class="form-group alert alert-danger panel-danger text-center animate-show"
                     data-ng-show="(forma.usuario.$dirty && forma.usuario.$invalid) || (forma.clave.$dirty && forma.clave.$invalid)" >
                    <p class="animate-show"
                       data-ng-show="forma.usuario.$dirty && forma.usuario.$invalid && forma.usuario.$error.required">
                        <span class="text-danger">
                            Usuario es Obligatorio
                        </span>
                    </p>
                    <p class="animate-show"
                       data-ng-show="forma.clave.$dirty && forma.clave.$invalid && forma.clave.$error.required">
                        <span class="text-danger">
                            Contraseña es Obligatorio
                        </span>
                    </p>
                </div>

                <div class="form-group">
                    <span class="pull-right">
                        <a href="#">Acerca de Sico - I.A.</a>
                    </span>
                    <span>
                        <a href="#">¿Necesita ayuda?</a>
                    </span>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <div class="col-md-12">

            </div>
        </div>
    </div>
    </div>
</div>